
body {
    font-family: 'Montserrat';
    margin: 0;
}

section {
    padding: 5em;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

.subheading {
    font-size: 1.5em;
    margin-bottom: 2em;
    text-transform: uppercase;
    color: rgb(179, 179, 179);
    font-weight: bold;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
}


  .page-enter-active {
    animation: bounce-in .8s;
  }
  .page-leave-active {
    animation: bounce-out .5s;
  }
  @keyframes bounce-in {
    0% { transform: scale(.9); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }
  @keyframes bounce-out {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(.9); opacity: 0; }
  }